<header>
    <a href="/src/views/productList.handlebars"></a>
</header>
<nav class="navegacion">
    <h4>{{user.email}} / {{user.role}} </h4>
    <a class="navegacion__enlace navegacion__enlace--activo" href="./productList.handlebars">Productos</a>
    <a class="navegacion__enlace" href="/carts/{{user.cart}}">Carrito</a>
    <a href="/api/users/premium/{{user._id}}">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="52" height="52"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff9300" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
        </svg>
    </a>
</nav>
<h1>Bienvenido/a {{user.first_name}} {{user.last_name}}</h1>


<main class="contenedor">
    <h2>Lista de Productos</h2>
    <div class="grid">
        {{#each products}}
        <div class="producto">
            <img class="producto__imagen" src={{this.thumbnails}} alt="imagen de producto">
            <div class="producto__informacion">
                <p class="producto__nombre">{{this.title}}</p>
                <p>{{this.description}}</p>
                <p class="producto__precio">${{this.price}}</p>
            </div>
            <button class="boton" onclick="addProductToCart('{{this._id}}')">Agregar al Carrito</button>
        </div>
        {{/each}}
    </div>
    <div>
        {{#if hasPrevPage}}
        <a href="{{prevLink}}">Anterior</a>
        {{/if}}
        |
        {{#if hasNextPage}}
        <a href="{{nextLink}}">Siguiente</a>
        {{/if}}
    </div>
</main>
<script>
    addProductToCart = (pid) => {
        const userCartId = '{{user.cart}}';
        fetch(`/api/carts/${userCartId}/products/${pid}`, {
            method: "post"
        })
            .then(result => result.json())
            .then(result => {
                if (result.status === 'error') throw new Error(result.error)
                alert(`Ok. Todo salió bien! :)\nEl producto se agregó al carrito!`)
            })
            .catch(err => alert(`Ocurrió un error :(\n${err}`))
    }
</script>